<div class="page">
<div>
  <nav class="navbar navbar-expand-lg bg-info" id="mainNav">
    <div class="container-fluid">
      <button  *ngIf="mostraNav()" class="navbar-toggler" id="btn-menu-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#vert-nav"
        aria-controls="vert-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div></div>
      <ul class="navbar-nav flex-row " id="nomeElogo">
        <li class="nav-item mx-2">
          <div>
            <a class="nav-link d-flex flex-column text-dark" routerLink="/">
              <b class="scritta"><i class="bi bi-book"></i><span> Suca Spano</span></b>
            </a>
          </div>
        </li>
      </ul>
      <div class="lista_elementi_menu_pagine">
        <ul class="navbar-nav flex-row">
          <li *ngIf="mostraNav()"  class="d-flex align-items-center">
            <form class="d-flex semaforo_oriz" role="search" id="searchForm">
              <input class="form-control me-2 ricerca_mio" type="search" id="campo_nome_da_passare_per_ricerca"
                placeholder="Search product" aria-label="Search">
              <button class="btn outline-mio" type="submit">Search</button>
            </form>
          </li>
          <li class="nav-item mx-2">
            <div>
              <a class="nav-link d-flex flex-column outline_menu_oriz" routerLink="/prestiti">
                <button style="background-color: transparent; border:none; padding:0px">
                  <i class="bi bi-stopwatch mx-auto"></i>
                </button>
                <span>
                  <button type="button" style="background-color: transparent; border:none">
          
                    <b>Prestiti</b>
                  </button>
                </span>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div>
              <a class="nav-link d-flex flex-column outline_menu_oriz" routerLink="/cart">
                <button  style="background-color: transparent; border:none; padding:0px">
                  <i class="bi bi-cart mx-auto"></i>
                </button>
                <span>
                  <button type="button" 
                    style="background-color: transparent; border:none">
  
                    <b>Carrello</b>
                  </button>
                </span>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="text-center">
              
              <a class="nav-link d-flex flex-column outline_menu_oriz" routerLink="admin">
                <button style="background-color: transparent; border:none; padding:0px">
                  <i class="bi bi-door-open mx-auto"></i>
                </button>
                <span>
                  <button type="button" style="background-color: transparent; border:none">
                    <b>Login</b>
                  </button>
                </span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>  

    

<div class="mainspace">
  <router-outlet ></router-outlet>
</div>
</div>
